<!DOCTYPE html>
<html>
<head>
  <title>Nomster</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "https://www.google.com/jsapi" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>


	<div class="first_headline">PERFORMANCE AGAINST BUDGET </div>
	<br class='clear'/>
	<div class="percentage_box col-xs-2 offset-xs-1">
		<div class="percentage">72%</div>
		<div class="percentage_caption">OF BUDGET THIS PERIOD</div>
	</div>
	<br class='clear'/>
	<br/>
	<br/>
	<div class="second_headline">PERFORMANCE OVER TIME</div>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>

	<%= link_to 'Page 1', root_path%>

</body>
</html>