<!DOCTYPE html>
<html>
<head>
  <title>Nomster</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  	<div class='logo col-xs-2 col-xs-offset-9  pull-right'> 
  		<%= image_tag 'logo.jpg' %>
	</div>
	<br class='clear'/>
  	<div class='top_line col-xs-4 pull-left'>Individual Performance</div>
  	<br/>
  	<div class='second_line col-xs-4 pull-left'> Grocery Store Chain - North East Division </div>
  	<br/>
  	<div class='third_line col-xs-4 pull-left'>May 22 - Jun 19, 2016</div>
  	<br/>
  	


	<br/>
	<br/>




    <%= yield %>
</body>
</html>
