<!DOCTYPE html>
<html>
  <head>
    <title>Divert</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class='top_line'>Individual Performance</div>
  	<div class='second_line'> Grocery Store Chain - North East Division </div>
  	<div class='third_line'>May 22 - Jun 19, 2016</div>
  	<div class='logo'> 
  		<%= image_tag 'logo.jpg' %>
	</div>

	<br/>
	<br/>




    <%= yield %>
  </body>
</html>
